body {
    overflow: hidden !important;
    margin: 0;
    padding: 0;
    height: var(--tg-viewport-height);
    width: 100vw;
}
#root {
    width: 100vw;
    height: var(--tg-viewport-height);
    overflow-y: auto;
    margin: 0;
}